* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    padding-top: 3rem;
    background-color: #c9c6c9;
}

.container {
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr max-content;
    gap: 1rem;
    background-color: #c9c6c9;
    width: fit-content;
    margin: auto;
}

.open-dialog {
    border-radius: 1rem;
    padding: 1rem;
    color: darkslategrey;
}

table {
    border: 2px solid grey;
    font-size: 1.2rem;
    border-collapse: collapse;
    grid-column: 1 / 3;
    text-align: center;
}

th, td {
    border: 1px solid grey;
    padding: 0.5rem;
}

.bookrow-delete, .change-read-status {
    padding: 0.25rem;
    font-size: 1.2rem;
    color: white;
    background-color: #f76459;
    border-radius: 0.5rem;
}

.change-read-status {
    margin-left: 1rem;
}

dialog {
    padding: 1rem;
    margin: auto;
    background-color: #c9c6c9;
    border: 1px solid #c9c6c9;
    border-radius: 1rem;
}

form > p {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 0.25rem;
    gap: 2rem;
    margin-bottom: 0.5rem;
}

p > label {
    justify-self: self-end;
}

input[type=checkbox] {
    justify-self: self-start;
}

tr *:first-child {
    max-width: 15ch;
}

.form-button {
    display: flex;
    justify-content: space-between;
}

.form-button > button {
    font-size: 1rem;
    padding:0 0.5rem;
    border-radius: 0.5rem;
    color: darkslategrey;
}

input[type=number]:user-invalid {
    border: 2px dotted red;
    outline: none;
}

.no-wrap {
    white-space: nowrap;
}