* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
}

table {
    border: 2px solid grey;
    font-size: 0.8rem;
    border-collapse: collapse;
}

th, td {
    border: 1px solid grey;
    padding: 0.5rem;
}

dialog {
    padding: 0.5rem;
}

form > p {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 0.25rem;
    gap: 2rem;
}

p > label {
    justify-self: self-end;
}

input[type=checkbox] {
    justify-self: self-start;
}